/*
========================================================================================
    nextflow.config
    Configuration for the SMALARIA FAILURE DETECTION pipeline
========================================================================================
*/

params {
    
    help                  = false
    
    madhito_amps_file     = 'resources/pfPHAST_20amps.csv'
    outdir                = params.site ? "results_${params.site}" : "results"     // dynamically append site name if provided, else just "results"
    
    maf_filter            = 0.01
    min_allele_read_count = 10
    cum_curve_threshold   = 0.95
    optim_ampset          = false
    
    max_cpus              = 20
    max_memory            = '60.GB'  // You can adjust this if needed
    chunk_size            = 100
    
    fnr_02_03             = 0.11     // this was experimentally calculated: DON'T CHANGE
    fnr_below_02          = 0.16     // this was experimentally calculated: DON'T CHANGE
    
    n_clones_target       = 1000
    initial_sample_size   = 200
    clone_seed            = 69420
    pairs_seed            = 69420
    
    train_test_split      = 0.7
    cv_folds              = 10
}

process {

    withName: 'DATA_CLEANING' {
        cpus   = 2
        memory = '4.GB'
        time   = '2.h'
        label  = 'standard'
    }

    withName: 'COI_CALCULATION' {
        cpus   = 2
        memory = '4.GB'
        time   = '2.h'
        label  = 'standard'
    }

    withName: 'FNR_CALCULATION' {
        cpus   = 2
        memory = '4.GB'
        time   = '2.h'
        label  = 'standard'
    }

    withName: 'CLONE_GENERATION' {
        cpus   = 4
        memory = '16.GB'
        time   = '8.h'
        label  = 'highmem'
    }

    withName: 'MIX_GENERATION' {
        cpus   = 6
        memory = '32.GB'
        time   = '8.h'
        label  = 'highmem'
    }

    withName: 'PAIRS_GENERATION' {
        cpus   = 4
        memory = '16.GB'
        time   = '6.h'
        label  = 'highmem'
    }

    withName: 'FEATURE_CALCULATION' {
        cpus   = params.max_cpus
        memory = params.max_memory
        time   = '12.h'
        label  = 'highmem'
    }

    withName: 'TARGET_AUGMENTATION' {
        cpus   = params.max_cpus
        memory = params.max_memory
        time   = '12.h'
        label  = 'highmem'
    }

    withName: 'ML_MODELING' {
        cpus   = params.max_cpus
        memory = params.max_memory
        time   = '12.h'
        label  = 'highmem'
    }
}

profiles {
    singularity {
        singularity.enabled = true
        process.container = "$baseDir/TESFaC.sif"
    }
}

